.user-card {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
  
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-details {
    flex: 1;
  }
  
  .name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #f8faf8;
  }
  
  /* .followers {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
  } */
  
  .followers-count {
    font-weight: bold;
    color: #ecebeb;
  }
  